.top-bar {
    background: linear-gradient(to top, #d30000, #e00000);
    box-shadow: 0 0 1px 1px #999;
    padding: 0 5px;

    li, li a:not(.button) {
        background-color: transparent !important;
    }

    .dropdown {
        background-color: #d30000;
        box-shadow: 0 2px 1px 1px #999;
    }

    .divider
    {
        border-right: solid 1px #aa0000 !important;
        background: #aa0000;
    }
}
